[run]
omit =
    */__init__.py
    */migrations/*
    */tests/*
    */test_*
    manage.py
    configuration/*
    */admin.py
    */apps.py
    */urls.py
    sitemaps.py

branch = True

[report]
precision = 2
show_missing = True
skip_covered = True
