[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_full_version = "3.5.0"

[packages]

Django = "==1.11.8"
gunicorn = "*"
mysqlclient = "*"
rollbar = "*"
django-sql-explorer = "*"


[dev-packages]

coverage = "*"
