{% extends '__base.html' %}
{% block title %}{{ user.first_name }} | {{ block.super }}{% endblock title %}
{% block content %}
    {% if form.has_errors %}
        {{ form.errors }}
    {% endif %}
    <form method="post" action="{% url 'volunteer:profile' %}">{% csrf_token %}
    <table id="volunteer-info">
    {{ form.as_table }}
        <tr>
            <th><label for="user-total-hours">Total Hours:</label></th>
            <td id="user-total-hours">{{ volunteer.hours }}</td>
        </tr>
        {% if volunteer.type != 'Service Hours' %}
            <tr>
                <th><label for="user-points">Points:</label></th>
                <td id="user-points">{{ volunteer.points }}</td>
            </tr>
        {% endif %}
        <tr>
            <th></th>
            <td><button type="submit" value="Submit">Submit</button></td>
        </tr>
    </table>
    </form>
    <hr/>
    <a href="{% url 'volunteer:timesheets' %}">timesheets</a>
    <a href="{% url 'volunteer:purchases' %}">purchases</a>
    <a href="{% url 'volunteer:logout' %}?next={% url 'volunteer:login' %}">log out</a>
{% endblock content %}
