{% extends 'base/base.html' %}
{% block title %}Purchases | {{ block.super }}{% endblock title %}
{% block content %}
    <a href="{% url 'volunteer:profile' %}">profile</a>
    <a href="{% url 'volunteer:purchase_add' %}">add purchase</a>
    <a href="{% url 'volunteer:logout' %}?next={% url 'volunteer:login' %}">log out</a>
    <hr/>
    {% for purchase in purchase_list %}
        <div>
            <div id="purchase-description"><h1>{{ purchase.description }}</h1></div>
            <div id="purchase-date"><span>{{ purchase.date }}</span></div>
            <div id="purchase-points"><span>{{ purchase.points }} point{{ purchase.points|pluralize }}</span></div>
            {% if not purchase.approved %}
            <div id="purchase-change">
                <a href="{% url 'volunteer:purchase' purchase.id %}">update</a>
                <a href="{% url 'volunteer:purchase_delete' purchase.id %}">delete</a>
            </div>
            {% else %}
            <div><span class="approved">Approved</span></div>
            {% endif %}
        </div>
        <hr/>
    {% endfor %}
    <a href="{% url 'volunteer:profile' %}">profile</a>
    <a href="{% url 'volunteer:purchase_add' %}">add purchase</a>
    <a href="{% url 'volunteer:logout' %}?next={% url 'volunteer:login' %}">log out</a>
{% endblock content %}
