{% extends 'base/base.html' %}
{% block title %}Timesheets | {{ block.super }}{% endblock title %}
{% block content %}
	<a href="{% url 'volunteer:profile' %}">profile</a>
	<a href="{% url 'volunteer:timesheet_add' %}">add timesheet</a>
	<a href="{% url 'volunteer:logout' %}?next={% url 'volunteer:login' %}">log out</a>
	<hr />
	{% for timesheet in timesheet_list %}
	<table>
		<tr id="timesheet-day">
			<th><label for="timesheet-day">Day:</label></th>
			<td id="timesheet-day">
				{% if timesheet.approved %}
				<span>{{ timesheet.day }}</span>
				{% else %}
				<a href="{% url 'volunteer:timesheet' timesheet.id %}">{{ timesheet.day }}</a>
				{% endif %}
			</td>
		</tr>
		<tr id="timesheet-hours">
			<th><label for="timesheet-hours">Hours:</label></th>
			<td>{{ timesheet.hours }}</td>
		</tr>
		<tr id="timesheet-note">
			<th><label for="timesheet-note">Notes:</label></th>
			<td>{{ timesheet.notes }}</td>
		</tr>
		<tr id="timesheet-delete">
			<th><label for="timesheet-delete"></label></th>
			{% if not timesheet.approved %}
			<td><a href="{% url 'volunteer:timesheet_delete' timesheet.id %}">delete</a></td>
			{% endif %}
		</tr>
	</table>
	<hr />
	{% endfor %}
	<a href="{% url 'volunteer:profile' %}">profile</a>
	<a href="{% url 'volunteer:timesheet_add' %}">add timesheet</a>
	<a href="{% url 'volunteer:logout' %}?next={% url 'volunteer:login' %}">log out</a>
{% endblock content %}
