body
{
    font-family: 'Karla', sans-serif;
    line-height: 150%;
}

div#content
{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

table
{
    margin: 0px auto;
}

table th
{
    text-align: right;
    font-weight: bold;
}

table tr
{
    text-align: left;
}

table td
{
    max-width: 300px;
}

a, .button, button
{
    font-weight: bold;
    text-decoration: none;
    color: #CC6633;
    background: #F5F5F5;
    padding: 5px 8px;
    font-size: 18px;
    border: none;
}

a:hover, .button:hover, button:hover
{
    color: #000000;
    cursor: pointer;
}

div#working-bikes-banner
{
    margin: 0px auto;
}

hr
{
    width: 30%;
}

input, textarea
{
    padding: 5px;
    border: 1px solid gray;
}

.hidden-submit
{
    visibility: hidden;
    height: 0px;
}

.errorlist
{
    color: #ff0000;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.approved
{
    color: #008800;
    font-weight: bold;
}

table th {
    vertical-align: top;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sr-only {
    height: 1px;
    width: 1px;
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
