{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		{% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
		<link href="http://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet" type="text/css">
		{% endblock css %}
		{% block js %}{% endblock js %}
		{% block meta %}{% endblock meta %}
		<title>{% block title %}Working Bikes{% endblock title %}</title>
		<meta name="description" content="{% block description %}{% endblock description %}"/>
	</head>
	<body>
		<div id="content">
			<div id="working-bikes-banner">
                <img id="working-bikes-logo" src="{% static 'images/working_bikes_logo.png' %}" alt="Working Bikes Banner" />
			</div>
		{% block content %}
		{% endblock content %}
		</div>
	</body>
</html>
